@mixin plain-links($color: $black) {
  a,
  .link {
    text-decoration: none;
    color: $color;
    cursor: pointer;

    &:hover,
    &:focus {
      color: lighten($color, 33%);
    }

    &:active {
      color: lighten($color, 66%);
    }
  }
}

@mixin xl() {
  @media (max-width: $xl) {
    @content;
  }
}

@mixin lg() {
  @media (max-width: $lg) {
    @content;
  }
}

@mixin md() {
  @media (max-width: $md) {
    @content;
  }
}

@mixin sm() {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin xs() {
  @media (max-width: $xs) {
    @content;
  }
}

@mixin gap($size: $indent) {
  :not(:last-child) {
    --margin: #{$size};

    margin-right: var(--margin);

    @include sm {
      --margin: #{$size / 4};
    }
  }
}
