@mixin gap($size: $indent) {
  :not(:last-child) {
    margin-right: $size;
  }
}

@mixin plain-links($color: $black) {
  a {
    text-decoration: none;
    color: $color;

    &:hover,
    &:focus {
      color: lighten($color, 33%);
    }

    &:active {
      color: lighten($color, 66%);
    }
  }
}

@mixin xl() {
  @media (max-width: $xl) {
    @content;
  }
}

@mixin lg() {
  @media (max-width: $lg) {
    @content;
  }
}

@mixin md() {
  @media (max-width: $md) {
    @content;
  }
}

@mixin sm() {
  @media (max-width: $sm) {
    @content;
  }
}
