$path: '#{$public-path}fonts/';

@mixin font-face($name, $format) {
  @font-face {
    font-family: $name;
    src: url('#{$path}#{$name}.#{$format}') format('#{$format}');
  }
}

@mixin font($name) {
  @include font-face($name, 'eot');
  @include font-face($name, 'ttf');
  @include font-face($name, 'woff');
}

@include font('SFUIDisplay-Regular');
