@import 'reset-css';
@import 'fonts';

html {
  font-family: SFUIDisplay-Regular, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $white;
  color: $black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#app {
  margin: auto;
  max-width: calc(#{$xl} - #{$indent-4});
}

.material-icons {
  &.md-18 {
    font-size: 18px;
  }
}

.blue-heading {
  color: $blue;
  line-height: 1.2;
  font-size: 5rem;
  font-weight: bold;
}
