@import 'reset-css';
@import 'fonts';

html {
  font-family: SFUIDisplay-Regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $white;
  color: $black;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#app {
  margin: auto;
  max-width: calc(#{$xl} - #{$indent-4});
}

.material-icons {
  &.md-15 {
    font-size: 15px;
  }
}

.blue-heading {
  color: $blue;
  line-height: 1.2;
  font-size: 6rem;
  font-weight: bold;
  margin-left: 9rem;

  @include lg {
    margin-left: 3rem;
  }

  @include md {
    font-size: 3rem;
  }

  @include sm {
    font-size: 2.3rem;
  }

  @include xs {
    font-size: 2.2rem;
    margin-left: 2rem;
  }
}

h2,
.card p,
.blue-heading,
.but-text,
#properly p,
.saving-text,
#call .heading {
  opacity: 0;
  transform: rotateX(75deg) rotateY(10deg) rotateZ(-9deg);
  transform-origin: top;
  transition:
    opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s,
    transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition-delay: 0.1s;

  &[data-is-visible='1'] {
    opacity: 1;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}
