@import 'reset-css';
@import 'fonts';

html {
  font-family: SFUIDisplay, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $white;
  color: $black;
  overflow-x: hidden;
}

#app {
  margin: auto;
  max-width: calc(#{$xl} - #{2 * $indent});
}

.material-icons {
  &.md-18 {
    font-size: 18px;
  }
}
