@import 'colors';

$indent: 2rem;
$indent-half: 1/2 * $indent;
$indent-2: 2 * $indent;
$indent-3: 3 * $indent;
$indent-4: 4 * $indent;

$xl: 1920px;

$duration: 0.2s;

$shadow: 0 1rem 4rem rgba($black, 0.1);
