@import 'colors';

$indent: 2rem;
$indent-half: 1/2 * $indent;
$indent-2: 2 * $indent;
$indent-3: 3 * $indent;
$indent-4: 4 * $indent;

$xs: 350px;
$sm: 576px;
$md: 768px;
$lg: 1280px;
$xl: 1920px;

$duration: 0.2s;
$radius: 0.7rem;
$shadow: 0 1rem 5rem rgba($black, 0.2);
